/* styling the body of the content*/
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {

    background-color:palegoldenrod;
    width: 1230px;

}
.product{
    background-color:red
}


.header_container{
    background-color: pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 11%;
}

.head_label_inner{
    float:right;
    font-weight: bold;
    margin: 5px;
    padding: 13px;

}
.image_logo{
    width: 80px;
}
header h2{
  color: red;
}

.head_label_inner a{
    /*word-spacing: 60px;*/
    /*float: inline-end;*/
    font-size: 17px;
    text-decoration: none;
    float: left;
    text-align: center;
    padding: 15px 46px;
}

.page_one_content{
    background-color:palegoldenrod;
    width: 133.3%;
    height: 800px;
    margin-bottom: 50px;
    margin-top: 120px;

}
#logo{
    font-size: 45px;
    text-align: center;
    color: blue;
    padding-top: 5%;
    padding-bottom: -15%;
}

.page_one_one{
    width: auto;
    height:auto;
    padding-left: 5%;

}

.image_home{
    /*position: relative;*/
    /*margin-left: 1%;
    margin-right: auto;*/
    width: 800px;
    height: 200px;
    top: 0%;
    margin-bottom: 15px;
    padding-right: 0%;
    padding-left: 15%;
    padding-top: 15%;


}

.message{
    margin-left: 1%;
    font-size: 80%;
    text-align: center;
    width: 100px;

}


.product_container{
    background-color:palegoldenrod;
    width: 133.3%;
    height: 300px;
    padding-left: 0%;
    padding-right: 5%;
    padding-top: 5;
    margin-top:25% ;
}
#pro_one{
    margin: 4%;
    color:red;
    padding-bottom: 20px;


}
.try_orange{
    margin-left: 0%;
    padding-left: 12%;
    padding-right: 0%;
    padding-top: 20px;
    width: 103.8%;
    background-color:palegoldenrod;
    margin-bottom: 5px;

}


.product_main{
    width: 40%;
    height: 20%;
    top: 20%;
    margin-left: 1%;
    padding-right: 30%;
    padding-top: 40%;
    background-color: palegoldenrod;

}
.p_message{
    font-size: 12px;
    width: 48%;
    margin-left: 15%;
    margin-bottom: 0%;
}
.three_product{
    background-color:palegoldenrod;
    width: 133.3%;
    height: 405px;

}

.card{
    display: flex;
    width: 60%;
    margin-left: 23%;
    margin-top: 25%;
    background-color:pink;
}
.container_product{
    margin: 10px;
    background-color: bisque;



}
.pro_img{
    background-color: rgb(255, 0, 221);

}


.contact_body_inner{
    flex: 50%;
    width: 133.4%;
    background-color:palegoldenrod;
    padding-top: 30%;


}
.contact_fi{
    display: flex;

}
.map_end{
    width: 50%;
    padding-left: 8px;
    padding-top: 1%;
    margin-left: 15%;

}
#contact{
    width: 500px;

}
#mlt{
    font-size: 30px;
}
.contact_main{
    margin-left: 10%;
    margin-bottom: -10%;
}
span{
  color: mediumvioletred;
  font-size: x-large;
  font-weight: bold;
}

.contact_info {
  width: 50%;
  margin: 10%;
  height: 1px;
  margin-bottom: 5px;

}